<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />

  <application>
    <service
      android:name=".SendCrawlerService"
      android:exported="true"
      android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
      android:label="Assistant send confirmation">
      <intent-filter>
        <action android:name="android.accessibilityservice.AccessibilityService" />
      </intent-filter>
      <meta-data
        android:name="android.accessibilityservice"
        android:resource="@xml/send_crawler_config" />
    </service>

    <service
      android:name=".ListenForegroundService"
      android:exported="false"
      android:foregroundServiceType="microphone" />
  </application>
</manifest>
